/* CSS class that blurs the thumbnail */
.blurred {
    filter: blur(20px) !important; 
}


/* Omits the Youtube thumbnail titles */
.blurred #video-title {
    color: transparent !important;
    text-shadow: none !important;
}
